<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>healing</mat-icon>
  </button>
  <span>Pair Maker</span>
  <span class="spacer"></span>
  <button (click)="addParticipant()" matTooltip="Add Participant" mat-icon-button class="example-icon favorite-icon" aria-label="Add Participant">
    <mat-icon>add_box</mat-icon>
  </button>
</mat-toolbar>

<div class="root">
    <div>
      <app-participants></app-participants>
    </div>
    <div>
      <app-groups></app-groups>
    </div>
    <!-- <mat-tab-group backgroundColor="primary" >
      <mat-tab label="Pair Maker"> Home </mat-tab>
      <mat-tab label="Participants"> Content 2 </mat-tab>
    </mat-tab-group> -->
</div>
